# Part 1

In [2]:
# Install necessary packages if it is not present
# !pip install wikipedia  https://pypi.org/project/wikipedia/
# !pip install beautifulsoup4

import pandas as pd 
import wikipedia as wp
from bs4 import BeautifulSoup

- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park.
- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
- Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [20]:
# Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M
html = wp.page("List of postal codes of Canada: M").html().encode("UTF-8")

df = pd.read_html(html, header = 0)[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

In [21]:
# Ignore cells with 'Not assigned'.
df = df.loc[df.Borough!='Not assigned']
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

In [22]:
# More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, 
# you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
#These two rows will be combined into one row with the neighborhoods separated with a comma

df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [25]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as 
# the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the 
# Neighborhood columns will be Queen's Park.
for index, row in df.iterrows():
    if row['Neighbourhood'] == 'Not assigned':
        row['Neighbourhood'] = row['Borough']
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [26]:
#In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
df.shape

(103, 3)

# Part 2 
Use the csv file that has the geographical coordinates of each postal code: http://cocl.us/Geospatial_data

In [27]:
import requests
import io

r=requests.get("http://cocl.us/Geospatial_data").content
r

b'Postal Code,Latitude,Longitude\r\nM1B,43.8066863,-79.1943534\r\nM1C,43.7845351,-79.1604971\r\nM1E,43.7635726,-79.1887115\r\nM1G,43.7709921,-79.2169174\r\nM1H,43.773136,-79.2394761\r\nM1J,43.7447342,-79.2394761\r\nM1K,43.7279292,-79.2620294\r\nM1L,43.7111117,-79.2845772\r\nM1M,43.716316,-79.2394761\r\nM1N,43.692657,-79.2648481\r\nM1P,43.7574096,-79.273304\r\nM1R,43.7500715,-79.2958491\r\nM1S,43.7942003,-79.2620294\r\nM1T,43.7816375,-79.3043021\r\nM1V,43.8152522,-79.2845772\r\nM1W,43.7995252,-79.3183887\r\nM1X,43.8361247,-79.2056361\r\nM2H,43.8037622,-79.3634517\r\nM2J,43.7785175,-79.3465557\r\nM2K,43.7869473,-79.385975\r\nM2L,43.7574902,-79.3747141\r\nM2M,43.789053,-79.4084928\r\nM2N,43.7701199,-79.4084928\r\nM2P,43.7527583,-79.4000493\r\nM2R,43.7827364,-79.4422593\r\nM3A,43.7532586,-79.3296565\r\nM3B,43.7459058,-79.352188\r\nM3C,43.7258997,-79.340923\r\nM3H,43.7543283,-79.4422593\r\nM3J,43.7679803,-79.4872619\r\nM3K,43.7374732,-79.4647633\r\nM3L,43.7390146,-79.5069436\r\nM3M,43.7284964,-79.4956974\r\nM3N,43.7616313,-79.5209994\r\nM4A,43.7258823,-79.3155716\r\nM4B,43.7063972,-79.309937\r\nM4C,43.6953439,-79.3183887\r\nM4E,43.6763574,-79.2930312\r\nM4G,43.7090604,-79.3634517\r\nM4H,43.7053689,-79.3493719\r\nM4J,43.685347,-79.3381065\r\nM4K,43.6795571,-79.352188\r\nM4L,43.6689985,-79.3155716\r\nM4M,43.6595255,-79.340923\r\nM4N,43.7280205,-79.3887901\r\nM4P,43.7127511,-79.3901975\r\nM4R,43.7153834,-79.4056784\r\nM4S,43.7043244,-79.3887901\r\nM4T,43.6895743,-79.3831599\r\nM4V,43.6864123,-79.4000493\r\nM4W,43.6795626,-79.3775294\r\nM4X,43.667967,-79.3676753\r\nM4Y,43.6658599,-79.3831599\r\nM5A,43.6542599,-79.3606359\r\nM5B,43.6571618,-79.3789371\r\nM5C,43.6514939,-79.3754179\r\nM5E,43.6447708,-79.3733064\r\nM5G,43.6579524,-79.3873826\r\nM5H,43.6505712,-79.3845675\r\nM5J,43.6408157,-79.3817523\r\nM5K,43.6471768,-79.3815764\r\nM5L,43.6481985,-79.3798169\r\nM5M,43.7332825,-79.4197497\r\nM5N,43.7116948,-79.4169356\r\nM5P,43.6969476,-79.4113072\r\nM5R,43.6727097,-79.4056784\r\nM5S,43.6626956,-79.4000493\r\nM5T,43.6532057,-79.4000493\r\nM5V,43.6289467,-79.3944199\r\nM5W,43.6464352,-79.374846\r\nM5X,43.6484292,-79.3822802\r\nM6A,43.718518,-79.4647633\r\nM6B,43.709577,-79.4450726\r\nM6C,43.6937813,-79.4281914\r\nM6E,43.6890256,-79.453512\r\nM6G,43.669542,-79.4225637\r\nM6H,43.6690051,-79.4422593\r\nM6J,43.6479267,-79.4197497\r\nM6K,43.6368472,-79.4281914\r\nM6L,43.7137562,-79.4900738\r\nM6M,43.6911158,-79.4760133\r\nM6N,43.6731853,-79.4872619\r\nM6P,43.6616083,-79.4647633\r\nM6R,43.6489597,-79.456325\r\nM6S,43.6515706,-79.4844499\r\nM7A,43.6623015,-79.3894938\r\nM7R,43.6369656,-79.615819\r\nM7Y,43.6627439,-79.321558\r\nM8V,43.6056466,-79.5013207\r\nM8W,43.6024137,-79.5434841\r\nM8X,43.6536536,-79.5069436\r\nM8Y,43.6362579,-79.4985091\r\nM8Z,43.6288408,-79.5209994\r\nM9A,43.6678556,-79.5322424\r\nM9B,43.6509432,-79.5547244\r\nM9C,43.6435152,-79.5772008\r\nM9L,43.7563033,-79.5659633\r\nM9M,43.7247659,-79.5322424\r\nM9N,43.706876,-79.5181884\r\nM9P,43.696319,-79.5322424\r\nM9R,43.6889054,-79.5547244\r\nM9V,43.7394164,-79.5884369\r\nM9W,43.7067483,-79.5940544'

In [31]:
coord=pd.read_csv(io.StringIO(r.decode('utf-8')))
print(coord)
#rename the POstal Code --> PostCode to merge with the wikipedia df 
coord.columns = ['Postcode', 'Latitude', 'Longitude']
dfmerge = pd.merge(coord, df, on='Postcode')
dfmerge

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

,Postcode,Latitude,Longitude,Borough,Neighbourhood
0,M1B,43.806686,-79.194353,Scarborough,"Rouge, Malvern"
1,M1C,43.784535,-79.160497,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae
...,...,...,...,...,...
98,M9N,43.706876,-79.518188,York,Weston
99,M9P,43.696319,-79.532242,Etobicoke,Westmount
100,M9R,43.688905,-79.554724,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv..."
101,M9V,43.739416,-79.588437,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ..."
102,M9W,43.706748,-79.594054,Etobicoke,Northwest

In [30]:
# show the merged dataframe as needed
dfmerge = dfmerge[['Postcode', 'Borough', 'Neighbourhood', 'Latitude', 'Longitude']]
dfmerge

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054