In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import pandas as pd

def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)

cluster = Cluster(
    contact_points=['172.31.22.32'], 
    auth_provider = PlainTextAuthProvider(username='tomcat', password='drawsweb'),
    connect_timeout = 20,
    control_connection_timeout=None
)
session = cluster.connect()
session.set_keyspace('disruptionwarning')
session.row_factory = pandas_factory
#session.default_fetch_size = 10000000 #needed for large queries, otherwise driver will do pagination. Default is 50000.

rows = session.execute("""SELECT * FROM airport_terminal_rule WHERE airport='WSSS'""")
#df = pd.DataFrame()
df = rows._current_rows 
df
#rows = session.execute('SELECT name, age, email FROM users')
#for user_row in rows:
#    print (user_row.airline)
    
#for row in session.execute(sql_query):
#    df = df.append(pd.DataFrame(row, index=[0]))

#print(df.to_string())

   airport airline  type origins      fromtime        totime terminal
0     WSSS     AAL     3          00:00:00.000  23:59:59.999       T1
1     WSSS     AAR     3          00:00:00.000  23:59:59.999       T3
2     WSSS     ACA     3          00:00:00.000  23:59:59.999       T2
3     WSSS     AEA     3          00:00:00.000  23:59:59.999       T2
4     WSSS     AEE     3          00:00:00.000  23:59:59.999       T2
5     WSSS     AFR     3          00:00:00.000  23:59:59.999       T1
6     WSSS     AIC     3          00:00:00.000  23:59:59.999       T2
7     WSSS     AIQ     3          00:00:00.000  23:59:59.999       T4
8     WSSS     ALK     3          00:00:00.000  23:59:59.999       T3
9     WSSS     ANA     3          00:00:00.000  23:59:59.999       T2
10    WSSS     ANG     3          00:00:00.000  23:59:59.999       T1
11    WSSS     ANZ     3          00:00:00.000  23:59:59.999       T3
12    WSSS     ASL     3          00:00:00.000  23:59:59.999       T2
13    WSSS     AUZ     3          00:00:00.000  23:59:59.999       T1
14    WSSS     AWQ     3          00:00:00.000  23:59:59.999       T1
15    WSSS     AXB     3          00:00:00.000  23:59:59.999       T2
16    WSSS     AXM     3          00:00:00.000  23:59:59.999       T1
17    WSSS     AZA     3          00:00:00.000  23:59:59.999       T1
18    WSSS     BAW     3          00:00:00.000  23:59:59.999       T1
19    WSSS     BBZ     3          00:00:00.000  23:59:59.999       T1
20    WSSS     BEL     3          00:00:00.000  23:59:59.999       T2
21    WSSS     BER     3          00:00:00.000  23:59:59.999       T1
22    WSSS     BKP     3          00:00:00.000  23:59:59.999       T1
23    WSSS     BTK     3          00:00:00.000  23:59:59.999       T3
24    WSSS     CAL     3          00:00:00.000  23:59:59.999       T3
25    WSSS     CCA     3          00:00:00.000  23:59:59.999       T1
26    WSSS     CEB     3          00:00:00.000  23:59:59.999       T2
27    WSSS     CES     3          00:00:00.000  23:59:59.999       T3
28    WSSS     CHB     3          00:00:00.000  23:59:59.999       T1
29    WSSS     CLX     3          00:00:00.000  23:59:59.999       TC
..     ...     ...   ...     ...           ...           ...      ...
70    WSSS     NLY     3          00:00:00.000  23:59:59.999       T2
71    WSSS     OMA     3          00:00:00.000  23:59:59.999       T3
72    WSSS     PAL     3          00:00:00.000  23:59:59.999       T1
73    WSSS     PIC     3          00:00:00.000  23:59:59.999       T1
74    WSSS     QFA     3          00:00:00.000  23:59:59.999       T1
75    WSSS     QTR     3          00:00:00.000  23:59:59.999       T3
76    WSSS     RAM     3          00:00:00.000  23:59:59.999       T2
77    WSSS     RBA     3          00:00:00.000  23:59:59.999       T2
78    WSSS     RGE     3          00:00:00.000  23:59:59.999       T1
79    WSSS     SAA     3          00:00:00.000  23:59:59.999       T2
80    WSSS     SAS     3          00:00:00.000  23:59:59.999       T1
81    WSSS     SBI     3          00:00:00.000  23:59:59.999       T1
82    WSSS     SCO     3          00:00:00.000  23:59:59.999       T2
83    WSSS     SIA     3          00:00:00.000  23:59:59.999       T2
84    WSSS     SLK     3          00:00:00.000  23:59:59.999       T2
85    WSSS     SVA     3          00:00:00.000  23:59:59.999       T3
86    WSSS     SWR     3          00:00:00.000  23:59:59.999       T2
87    WSSS     TAP     3          00:00:00.000  23:59:59.999       T2
88    WSSS     TGW     3          00:00:00.000  23:59:59.999       T2
89    WSSS     THA     3          00:00:00.000  23:59:59.999       T1
90    WSSS     THY     3          00:00:00.000  23:59:59.999       T1
91    WSSS     TLM     3          00:00:00.000  23:59:59.999       T3
92    WSSS     UAE     3          00:00:00.000  23:59:59.999       T1
93    WSSS     UAL     3          00:00:00.000  23:59:59.999       T2
94    WSSS     UBA     3          00:00:00.000  23:59:59.999       T3
95    WSSS     UZB     3          00:00:00.000  23:59:59.999       T1
96    WSSS     VGI     3          00:00:00.000  23:59:59.999       T2
97    WSSS     VIR     3          00:00:00.000  23:59:59.999       T2
98    WSSS     VJC     3          00:00:00.000  23:59:59.999       T3
99    WSSS     VOZ     3          00:00:00.000  23:59:59.999       T2

[100 rows x 7 columns]

In [ ]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import pandas as pd

def pandas_factory(colnames, rows):return pd.DataFrame(rows, columns=colnames)

cluster = Cluster(
    contact_points=['172.31.22.32'], 
    auth_provider = PlainTextAuthProvider(username='tomcat', password='drawsweb'),
    connect_timeout = 20,
    control_connection_timeout=None
)
session = cluster.connect()
session.set_keyspace('disruptionwarning')
session.row_factory = pandas_factory
session.default_fetch_size = 10000000 #needed for large queries, otherwise driver will do pagination. Default is 50000.

#rows = session.execute("SELECT * FROM airport_terminal_rule WHERE airport='WSSS'")
rows = session.execute("select * from arrival_predictions_features where airline='TGW' and flightno='285' and version=3001 and timestamp >'2019-05-22 05:11:00' and timestamp <='2019-05-23 05:11:00' allow filtering ")

df = pd.DataFrame()
df = rows._current_rows 
df
#rows = session.execute('SELECT name, age, email FROM users')
#for user_row in rows:
#    print (user_row.airline)
    
#for row in session.execute(sql_query):
#    df = df.append(pd.DataFrame(row, index=[0]))

#print(df.to_string())

In [19]:
import pandas as pd

from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
from cassandra.query import dict_factory

CASSANDRA_DB='disruptionwarning'
CASSANDRA_TABLE ='airport_terminal_rule'
auth_provider = PlainTextAuthProvider(username='tomcat', password='drawsweb')
cluster = Cluster(contact_points=['172.31.22.32'], port=9042,
    auth_provider=auth_provider,connect_timeout = 20,control_connection_timeout=None)

session = cluster.connect(CASSANDRA_DB)
session.row_factory = dict_factory

sql_query = "SELECT * FROM {}.{};".format(CASSANDRA_DB, CASSANDRA_TABLE)


df = pd.DataFrame()
print(df.to_string())

Empty DataFrame
Columns: []
Index: []